{% extends 'base.html' %} {% block title %}Home | Collabs{% endblock title %} 

{% block body %}
<div class="row">
  <div class="col s12">
    <h1 class="header center black-text text-lighten-2">Collabs</h1>
    <div class="row center">
      <h5 class="header col s12 light flow-text">
        A modern tool to find your support for projects
      </h5>
    </div>
  </div>

  <div class="carousel s12">
    <a class="carousel-item" href="#one!"
      ><img
        src="https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    /></a>
    <a class="carousel-item" href="#two!"
      ><img
        src="https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    /></a>
    <a class="carousel-item" href="#three!"
      ><img
        src="https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    /></a>
    <a class="carousel-item" href="#four!"
      ><img
        src="https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    /></a>
    <a class="carousel-item" href="#five!"
      ><img
        src="https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    /></a>
  </div>

  <div class="container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="row center">
        <h2 class="header col s12 flow-text">
          Wanna know how the collabs platform work?
        </h2>
        <h4 class="col s12 light center-align flow-text">
          Collab is a platform where you find two kinds of people. The one who
          is struggling to come up with projects and the other one who is
          struggling to find a skilled guy who can help build his idea.<br />
          You only have to decide what you need . . . . .
        </h4>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
